<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tugas1.Properties.Settings.coba1ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=coba1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tugas1.Properties.Settings.tugas1dbConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=tugas1db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>